.bodyUser 
  = render 'items/header'
  .user-main
    = render 'my_left'
    .my-right
      .my-right__contents
        %section.my-right__contents__head
          %h2.card-credit-head 支払い方法
        .card-credit
          %section
            %h3.credit-text クレジットカード一覧
          %ul.credit-my-card
            %li
              .credit-my-card-form
                .set-payment-number fghjk
                .set-payment-deadline 12345
                = link_to "削除する", "#", class:"card-delete",method: "delete"
  = render 'items/footer'