.bodyUser 
  = render 'items/header'
  .user-main
    = render 'my_left'
    .my-right
      .my-right__contents
        %section.my-right__contents__head
          %h2.iine-card-head いいね一覧
        %ul.iine-list
          %li.iine-list__part
  = render 'items/footer'