.bodyUser 
  = render 'items/header'
  .user-main
    = render 'my_left'
    .my-right
      %section.my-right__contents
        %h2.my-right__contents__head 出品した商品
        %ul.sell-tab
          %li.exhibiting-btn.active
            %h3.mypage-btn 出品中
          %li.trading-btn
            %h3.mypage-btn 取引中
          %li.sell-btn
            %h3.mypage-btn 売却済
        .tab-content
          .tab-content__box
            .tab-content__box__deal 取引中の商品はありません
  = render 'items/footer'
