.subFooter
  %nav
    %ul.clearfix
      %li
        = link_to " プライバシーポリシー", "#" 
      %li.sub
        = link_to " FURIMA利用規約", "#" 
      %li.sub
        = link_to "特定商取引に関する表記", "#" 
  %a.subFooter__logo
  %p
    %small © FURIMA