@mixin dropMenu_aTag($height: 44px){
  height: $height;
}

@mixin dropMenu_aTag($height: 30px){
  height: $height;
}

.wrapper {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  height: 100%;
  width: 100%;
}

.header {
  padding: 0 60px;
  color: black;
  background-color: #fff;
  .headerContents {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .headerMain {
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        margin-right: 30px;
        border-radius: 4px;
        width: 140px;
      }
      .icon {
        height: 40px;
        background-image: image-url("logo/logo.png");
        display: block;
        padding-bottom: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .search-form {
        margin-left: auto;
        margin-bottom: 5px;
        display: flex;
        width: 100%;
        .search-input {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        .search-btn {
          width: 40px;
          cursor: pointer;
          background-color: #3CCACE;
          background-image: image-url("icon/icon-search1.png");
          background-position: center;
          background-size: 50% auto;
          background-repeat: no-repeat;
          border: 0;
          overflow: hidden;
          text-indent: 50px;
        }
      }
    }
    .navi{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__left-item {
        position: relative;
        display: flex;
        &__category {
          text-decoration: none;
          padding: 0;
          display: flex;
          .categoryBtn {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
            position: relative;
            &:hover {
              ul {
                li {
                  display: block;
                  height: 44px;
                }
              }
            }
            ul {
              position: absolute;
              z-index: 1000;
              font-weight: normal;
              li {
                width: 220px;
                height: 0;
                display: none;
                background-color: white;
                padding: 8px;
                &:hover {
                  background-color: #3CCACE;
                  color: white;
                  .navi__left-item__category__children {
                    &__child {
                      display: block;
                      height: 30px;
                    }
                  }
                }
                a {
                  @include dropMenu_aTag(44px);
                  text-decoration: none;
                  color: #000000;
                  font-weight: bold;
                  line-height: 44px;
                  &:hover {
                    background-color: #3CCACE;
                    color: white;
                  }
                }
                .navi__left-item__category__children {
                  position: absolute;
                  top: 0;
                  left: 236px;
                  z-index: 1000;
                  height: 616px;
                  background-color: white;
                  &__child {
                    width: 220px;
                    height: 0;
                    display: none;
                    background-color: white;
                    &:hover {
                      background-color: #3CCACE;
                      .navi__left-item__category__grand-children {
                        &__grand-child {
                          display: block;
                          height: 30px;
                        }
                      }
                    }
                    a {
                      @include dropMenu_aTag(30px);
                      font-size: 14px;
                      line-height: 30px;
                    }
                    .navi__left-item__category__grand-children {
                      position: absolute;
                      top: 0;
                      left: 236px;
                      z-index: 1000;
                      height: 616px;
                      background-color: white;
  
                      &__grand-child {
                        width: 220px;
                        height: 0;
                        display: none;
                        background-color: white;
                        &:hover {
                          background-color: #3CCACE;
                        }
                        a {
                          @include dropMenu_aTag(30px);
                          font-size: 14px;
                          line-height: 30px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &__brand {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          .brandBtn {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
      }
      &__right-item {
        margin-left: auto;
        display: flex;
        &__login{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .loginBtn {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__new {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .newBtn {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.body {
  background: #f8f8f8;
  padding-bottom: 80px;
  .mainContents {
    height: 560px;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      h2 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      p {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .btn {
        display: flex;
        margin: 24px 0 0 0;
        .aBtn {
          margin-right: 10px;
        }
      }
    }
  }
  .topContents {
    padding: 60px 20px;
    h2 {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    }
    h2::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists {
      text-align: center;
      display: flex;
      justify-content: space-between;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image01 {
          position: relative;
          margin-bottom: 20px;
          background-image: image-url("pict/pict-reason-01.jpg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          height: 290px;
          width: 100%;
        }
        .items-box_photo__sold{
          width: 0;
          height: 0;
          border-top: 60px solid #ea352d ;
          border-right: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 60px solid #ea352d ;
          z-index:100;
          position: relative;
          top:-320px;
          &__inner{
            transform: rotate(-45deg);
            font-size: 28px;
            margin:-35px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
        .text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;

          span {
            color: #3CCACE;
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
          }
        }
        p {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .middleContents {
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      h2 {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      p {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        display: flex;
        .aBtn {
          margin-right: 10px;
        }
      }
    }
  }
  .bottomContents {
    padding: 60px 100px;
    background-color: #fff;
    h2 {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    h2::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .list {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * (100% - 200px));
        text-align: center;
        padding: 0 20px;
        .image01 {
          width: 70%;
          height: 220px;
          margin: 0 auto;
          line-height: 120px;
          background-image: image-url("icon/icon-01.png");
          background-position: center;
          background-size: 80% auto;
          background-repeat: no-repeat;
        }
        .image02 {
          width: 70%;
          height: 220px;
          margin: 0 auto;
          line-height: 120px;
          background-image: image-url("icon/icon-03.png");
          background-position: center;
          background-size: 80% auto;
          background-repeat: no-repeat;
        }
        .image03 {
          width: 70%;
          height: 220px;
          margin: 0 auto;
          line-height: 120px;
          background-image: image-url("icon/icon-04.png");
          background-position: center;
          background-size: 80% auto;
          background-repeat: no-repeat;
        }
        h3 {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        p{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  .pickupContent {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      .itemBox {
        text-align: center;
        .subtitle {
          text-decoration: none;
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
        .title {
          font-weight: bold;
        }
        .itemList {
          width: 780px;
          margin: 26px auto;
          display: flex;
          justify-content: space-around;
          .item {
            width: 220px;
            display: inline-block;
            a {
              text-decoration: none;
            }
            &__image {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              background-image: image-url("icon/icon-01.png");
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }
            .content {
              background-color: white;
              color: #333;
              padding: 16px;
              font-weight: normal;
              .title {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
                font-weight: normal;
              }
              .text {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
aside {
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    h2 {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    p {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .aBtn {
        margin-right: 10px;
      }
    }
  }
}
.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .menus {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .menu {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      h2 {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  .logo {
    max-width: 160px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    vertical-align: bottom;
    background-image: image-url("logo/logo-white.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    p {
      margin-top: 50px;
      font-size: 14px;
    }
  }
}
.purchaseBtn {
  width: 90px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  span {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .img {
    height: 50px;
    background-image: image-url("icon/icon_camera.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.wrapperItems {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  background: #f5f5f5;
  height: auto;
  width: auto;
}
.bodyItems {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  width: max-content;
  .itemInfo  {
    margin: 0 auto;
    width: 700px;
    padding: 24px 40px 40px;
    background: #fff;
    display: block;
    .name {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    .mainContent {
      margin: 16px 0 0;
      .imageContent {
        display: flex;
        position: relative;
        .image {
          display: flex;
          flex-direction: column;
          width: 560px;
          align-items: center;
          margin: 0 auto;
          .bigImage {
            object-fit: cover;
            height: 346px;
            width: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            // background-image: url("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266");
          }
          .bigImage-first{
            position: absolute;
          }
          .smallImage {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            width: 75%;
            .image01 {
              width: 25%;
              margin: 0 10px 0 0;
              object-fit: cover;
              height: 87px;
            }
          }
        }
      }
      .priceBox {
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .price {
          font-size: 46px;
          font-weight: bold;
          margin: 0 10px 0 0;
        }
        .tax {
          font-size: 16px;
        }
      }
      .buyBtn {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin: 16px 0 32px 0;
        background: #ea352d;
        color: #fff;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
      }
      .delete-Btn {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin: 0 0 32px 0;
        background: #d3d3d3;
        color: #fff;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
      }
      .text {
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .detail {
        margin-bottom: 20px;
        .detailTable{
          width: 100%;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          .table {
            vertical-align: middle;
            border-color: inherit;
            ul {
              display: flex;
              vertical-align: inherit;
              border-color: inherit;
              .title {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
                padding: 15px 15px;
                p {
                  padding: 21px 10px;
                }

              }
              .info {
                width: 80%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
              }
              a {
                text-decoration: none;
                color: #3CCACE;
              }
            }
          }
        }
      }
      .other {
        display: flex;
        justify-content: space-between;
        .left {
          margin: 10px 0 0;
          display: flex;
          .btn {
            margin-right: auto;
            padding: 6px 10px;
            border-radius: 40px;
            color: #3CCACE;
            border: 1px solid #ffb340;
            text-decoration: none;
          }
        }
        .right {
          margin: 10px 0 0;
          display: flex;
          .btn {
            font-size: 14px;
            text-decoration: none;
            padding: 8px 10px 6px 10px;
            display: inline-block;
            border-radius: 4px;
            color: #333;
            border: 1px solid #333;
            text-decoration: none;
          }
        }
      }
    }
  }

  .itemMessage {
    padding: 24px;
    background-color: #fff;
    margin: 10px 0;
    text-align: center;
    .messageBox {
      .messageContent {
        p {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0 30px 0;
          text-align: left;
        }
        .text:not(:root) {
          width: calc(100% - 20px);
          min-height: 104px;
          padding: 10px;
        }
        .btn {
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
      }
    }
  }
  .itemNavi {
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      color: #3CCACE;
      text-decoration: none;
    }
    .prev {
      width: 45%;
      position: relative;
      word-wrap: break-word;
      i {
        font-weight: bold;
      }
    }
    .next {
      width: 45%;
      position: relative;
      word-wrap: break-word;
      text-align: right;
      i {
        font-weight: bold;
      }
    }
  }
  .categoryItems {
    .categoryBtn {
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      position: relative;
    }
  }
}





.bodyNew{
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.container{
  background-color: #f5f5f5;
}
.subHeader{
  height: 100px;
  background-color: #f5f5f5;
  padding-top: 40px;
  .title{
    padding: 40px 0 0;
    width: 100%;
    height: 15px;
    background-image: image-url("logo/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.main{
  background-color: #f5f5f5;
  display: block;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  .buy-item-container{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    .inner{
      &__title{
        padding: 24px 8px;
        font-size: 22px;
        color: black;
        line-height: 1.5;
        text-align: center 
      }
      .form{
        border-top: 1px solid #eee;
        .upload-box{
          width: 620px;
          padding: 40px;
          .title{
            font-size: 16px;
            font-weight: bold;
            span{
              background-color: #3CCACE;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
          p{
            margin: 8px 0 0;
            line-height: 1.5;
            font-size: 14px;
          }
          .dropbox{
            display: block;
            margin: 16px auto 0;
            display: flex;
            flex-wrap: wrap;
            .preview-content{
              display: flex;
              .preview-box {
                height: 162px;
                width: 112px;
                margin: 0 15px 10px 0;
                border: 1px solid #eee;
                .upper-box {
                  height: 112px;
                  width: 100%;
                  background: #f5f5f5;
                  img{
                    width: 112px;
                    height: 112px;
                  }
                }
                .lower-box {
                  display: flex;
                  text-align: center;
                  font-size: 14px;
                  .update-box {
                    color: #00b0ff;
                    width: 50%;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid #eee;
                    background: #f5f5f5;
                    cursor: pointer;
                  }
                  .delete-box {
                    color: #00b0ff;
                    width: 50%;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid #eee;
                    background: #f5f5f5;
                    cursor: pointer;
                  }
                }
              }
            }
            .label-content{
              margin-bottom: 10px;
              width: 620px;
              .label-box {
                display: block;
                border: 1px dashed #ccc;
                position: relative;
                background: #f5f5f5;
                width: 100%;
                height: 162px;
                cursor: pointer;
                &__text {
                  position: absolute;
                  top: 50%;
                  left: 16px;
                  right: 16px;
                  text-align: center;
                  font-size: 14px;
                  line-height: 1.5;
                  font-weight: bold;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                  pointer-events: none;
                  white-space: pre-wrap;
                  word-wrap: break-word;
                }
              }
            }
            .hidden-content {
              display: none;
              .hidden-field {
                display: none;
              }
            }
          }
        }
        .free-content{
          padding: 40px;
          border-top: 1px solid #eee;
          &__title{
            font-size: 14px;
            font-weight: bold;
            span{
              background-color: #3CCACE;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
          div{
            margin: 8px 0 0;
          }
          &__form{
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: calc(100% - 32px);
          }
          &__explain{
            font-size: 14px;
            margin: 40px 0 0;
            font-weight: bold;
            span{
              background-color: #3CCACE;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
          &__formCategory{
            display: block;
            width: calc(100% - 20px);
            max-width: 100%;
            min-height: 104px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
          }
        }
        .content-sell{
          padding: 40px;
          border-top: 1px solid #eee;
          &__head{
            float: left;
            color: #888;
            font-size: 14px;
          }
          &__question{
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #0099e8;
            color: #fff;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
          }
          &__formbox{
            float: right;
            width: 400px;
            &__category {
              label{
                font-weight: 600;
              }
              span{
                background-color: #3CCACE;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              div{
                background-repeat: no-repeat;
                position: relative;
              }
              &__select{
                margin: 8px 0 0;
                &__btn{
                  position: absolute;
                  right: 12px;
                  top: 40%;
                  z-index: 2;
                  color: #888;
                  font-size: 8px;
                  line-height: 1;
                  font-size: 16px;
                }
                &__btnChild{
                  position: absolute;
                  right: 12px;
                  top: 50%;
                  z-index: 2;
                  color: #888;
                  font-size: 8px;
                  line-height: 1;
                  font-size: 16px;
                }
                &__form{
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                }
                &__child {
                  &--select {
                    position: relative;
                    z-index: 2;
                    height: 48px;
                    padding: 0 16px;
                    margin-top: 15px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: 0;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                  }
                }
              }
            }
            &__brand{
              margin: 40px 0 0;
              label{
                font-weight: 600;
              }
              span.free{
                background-color: #888;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              div{
                background-repeat: no-repeat;
                position: relative;
              }
              &__input{
                .free-content__form{
                  height: 40px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                }
              }
            }
            &__group{   
              .labelBox{
                float: left;
                margin-top: 20px;
              }          
              label{
                font-weight: 200;
              }
              span{
                background-color: #3CCACE;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              div{
                background-repeat: no-repeat;
                position: relative;
              }
              &__select{
                margin: 8px 0 0;
                &__btn{
                  position: absolute;
                  right: 12px;
                  top: 40%;
                  z-index: 2;
                  color: #888;
                  font-size: 8px;
                  line-height: 1;
                  font-size: 16px;
                }
                &__form{
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                }                
              }
              &__input{
                float: right;
                width: 50%;
                div{
                  display: inline-block;
                }
                &__box{
                  height: 48px;
                  padding: 10px 10px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  float: right;
                  text-align: right;
                }            
              }
            }
            &__status{
              margin: 40px 0 0;
              label{
                font-weight: 600;
              }
              span{
                background-color: #3CCACE;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              div{
                background-repeat: no-repeat;
              }
              &__select{
                margin: 8px 0 0;
                position: relative;
                &__btn{
                  position: absolute;                  
                  right: 12px;
                  top: 40%;
                  z-index: 2;
                  color: #888;
                  font-size: 8px;
                  line-height: 1;
                  font-size: 16px;
                }
                &__form{
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none; 
                }
              }
            }
            &__group{
              label{
                font-weight: 600;
              }
              span{
                background-color: #3CCACE;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              &__input{
                display: flex;
                &__icon{
                  margin-top: 20px;
                }
                &__box{
                  height: 48px;
                  padding: 10px 16px 8px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  display: inline-block;
                  width: 80%;
                  margin: 0 0 0 5%;
                  -webkit-appearance: none;
                }
              }
              .clearfix {
                padding: 0 0 24px;
              }
            }
            &__tax{
              height: 50px;
              line-height: 50px;
              border-top: 1px solid #ccc;
              &__left{
                float: left;
              }
              &__right{
                float: right;
              }
            }
            &__benefit{
              padding: 24px 0;
              border-top: 1px solid #ccc;
              font-weight: 600;
              &__left{
                float: left;
                font-size: 16px;
              }
              &__right{
                float: right;
                font-size: 34px;
              }
            }
          }
          &__warning{
            margin-bottom: 40px;
            font-size: 14px;
            p{
              line-height: 1.5;
              a{
                color: #0099e8;
                text-decoration: none;
              }
            }
          }
          &__red-btn{
            margin-top: 40px 0 0;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
          }
          &__gray-btn{
            width: 45%;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
            display: block;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.subFooter{
  background-color: #272727;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
  position: absolute;
  z-index: 1;
  nav{
    border-style: solid;
    border-width: 0;
    color: #fff;
    li{
      display: inline-block;
      font-size: 12px;
    }
    .sub{
      margin: 0 0 0 16px;
    }
  }
  &__logo{
    display: block;
    width: 100%;
    height: 48px;
    margin: 40px auto 0;
    background-image: image-url("logo/logo-white.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  p{
    color: #fff;
    font-size: 10px;
    small{
      font-size: 13px;
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.wrapperBuy {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

}
.bodyBuy {
  margin: 0 auto;
  padding-bottom: 60px;
}
.buyItemContent {
  width: 700px;
  margin: 0 auto;
  border-top: 1px solid #f5f5f5;
  background-color: #fff;
  h2 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 32px;
    line-height: 1.5;
    text-align: center;
  }
  .buyItemTop {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 32px 16px;
    text-align: center;
    .topInner {
      max-width: 343px;
      margin: 0 auto;
      .topBox {
        display: flex;
        .image {
          height: 80px;
          width: 80px;
          min-width: 80px;
          display: flex;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          background-image: url("https://d1f5hsy4d47upe.cloudfront.net/56/5617ec5ff9c48ff370941b763e95cb85_t.jpeg");
          background-size: contain;
          background-repeat: no-repeat;
        }
        .text {
          margin-left: 16px;
          .itemTitle {
            font-size: 14px;
            margin: 0;
            padding: 0 0 8px;
            line-height: 1.5;
            text-align: left;
          }
          .itemPrice {
            margin: 0;
            text-align: left;
            font-size: 15px;
            font-weight: bold;
            .fee {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .buyItemBottom {
    padding-bottom: 48px;
    .bottomInner {
      max-width: 343px;
      margin: 0 auto;
      .bottomBox {
        .priceBox {
          display: table;
          border-collapse: collapse;
          width: 100%;
          margin-top: 32px;
          ul {
            border: 0;
            font-weight: 600;
            display: flex;
            .price {
              padding: 0;
              text-align: right;
              font-size: 30px;
              margin-left: auto;
            }
            .priceTitle {
              text-align: left;
              font-size: 18px;
              margin-top: 5px;
            }
          }
          .point {
            display: flex;
            margin-top: 24px;
            margin-bottom: 32px;
            .checkBox {
              z-index: 1;
              width: 20px;
              height: 20px;
              border-radius: 2px;
              background: #ccc;
              border: 1px solid #ccc;
              font-size: 10px;
              line-height: 17px;
              text-align: center;
              color: #fff;
              vertical-align: middle;
            }
            .pointBox {
              display: none;
            }
            p {
              position: relative;
              z-index: 2;
              padding: 0 0 0 5px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              color: #888;
            }
          }
        }
        .pay {
          border-top: 1px solid #f5f5f5;
          .payBox {
            padding: 32px 0;
            max-width: 343px;
            margin: 0 auto;
            font-size: 14px;
            .payTitle {
              display: flex;
              h3 {
                text-align: left;
                margin: 0;
                margin-top: 5px;
                font-weight: bold;
              }
              .changeBtn {
                display: block;
                text-align: right;
                text-decoration: none;
                margin-left: auto;
              }
            }
            .payTitle::after {
              content: '';
              display: block;
              clear: both;
            }
            .payInfo {
              margin-top: 8px;
              .payIcon {
                height: 15px;
                width: 50px;
                display: block;
                text-align: right;
                margin-top: 5px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266");
              }
            }
          }
        }
        .userAddress {
          padding: 32px 0;
          transition: all ease-out .3s;
          text-align: left;
          margin: 0;
          border-top: 1px solid #f5f5f5;
          font-size: 14px;
          .addressInner {
            max-width: 343px;
            margin: 0 auto;
            .addressTitle {
              display: flex;
              h3 {
                text-align: left;
                margin: 0;
                margin-top: 5px;
                font-weight: bold;
              }
              .changeBtn {
                display: block;
                text-align: right;
                text-decoration: none;
                margin-left: auto;
              }
            }
            .addressTitle::after {
              content: '';
              display: block;
              clear: both;
            }
            .addressInfo {
              display: block;
              text-align: left;
              margin: 8px 0 0;
              font-size: 14px;
              line-height: 1.4;
            }
          }
        }
        .buyBtn {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          font-weight: bold;
          transition: all ease-out .3s;
          text-align: center;
          border: 1px solid #888;
          background: #888;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

span.error_m {
  color: red; 
}