.wrapper {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.header {
  padding: 0 60px;
  color: black;
  .headerContents {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .headerMain {
      position: relative;
      display: flex;
      align-items: center;
      h1 {
        margin-right: 30px;
        border-radius: 4px;
        width: 140px;
      }
      .icon {
        height: 40px;
        background-image: image-url("logo/logo.png");
        display: block;
        padding-bottom: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .search-form {
        margin-left: auto;
        margin-bottom: 5px;
        display: flex;
        width: 100%;
        .search-input {
          width: calc(100% - 26px);
          height: 36px;
          padding: 0 0 0 5px;
        }
        .search-btn {
          width: 40px;
          cursor: pointer;
          background-color: #3CCACE;
          background-image: image-url("icon/icon-search1.png");
          background-position: center;
          background-size: 50% auto;
          background-repeat: no-repeat;
          border: 0;
          overflow: hidden;
          text-indent: 50px;
        }
      }
    }
    .navi{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__left-item {
        position: relative;
        display: flex;
        &__category {
          text-decoration: none;
          padding: 0;
          .categoryBtn {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
        &__brand {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
          .brandBtn {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
      }
      &__right-item {
        margin-left: auto;
        display: flex;
        &__login{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .loginBtn {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__new {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .newBtn {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.body {
  background: #f8f8f8;
  padding-bottom: 80px;
  .mainContents {
    height: 560px;
    background-image: image-url("pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      h2 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      p {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .btn {
        display: flex;
        margin: 24px 0 0 0;
        .aBtn {
          margin-right: 10px;
        }
      }
    }
  }
  .topContents {
    padding: 60px 20px;
    h2 {
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
    }
    h2::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists {
      text-align: center;
      display: flex;
      justify-content: space-between;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image01 {
          position: relative;
          margin-bottom: 20px;
          background-image: image-url("pict/pict-reason-01.jpg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          height: 290px;
          width: 100%;
          .number {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 0 0 8px;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        .image02 {
          position: relative;
          margin-bottom: 20px;
          background-image: image-url("pict/pict-reason-02.jpg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          height: 290px;
          width: 100%;
          .number {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 0 0 8px;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        .image03 {
          position: relative;
          margin-bottom: 20px;
          background-image: image-url("pict/pict-reason-03.jpg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          height: 290px;
          width: 100%;
          .number {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 0 0 8px;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        .text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;

          span {
            color: #3CCACE;
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
          }
        }
        p {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .middleContents {
    background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      h2 {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      p {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn {
        display: flex;
        .aBtn {
          margin-right: 10px;
        }
      }
    }
  }
  .bottomContents {
    padding: 60px 100px;
    background-color: #fff;
    h2 {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    h2::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .lists {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .list {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * (100% - 200px));
        text-align: center;
        padding: 0 20px;
        .image01 {
          width: 70%;
          height: 220px;
          margin: 0 auto;
          line-height: 120px;
          background-image: image-url("icon/icon-01.png");
          background-position: center;
          background-size: 80% auto;
          background-repeat: no-repeat;
        }
        .image02 {
          width: 70%;
          height: 220px;
          margin: 0 auto;
          line-height: 120px;
          background-image: image-url("icon/icon-03.png");
          background-position: center;
          background-size: 80% auto;
          background-repeat: no-repeat;
        }
        .image03 {
          width: 70%;
          height: 220px;
          margin: 0 auto;
          line-height: 120px;
          background-image: image-url("icon/icon-04.png");
          background-position: center;
          background-size: 80% auto;
          background-repeat: no-repeat;
        }
        h3 {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        p{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  .pickupContent {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      .itemBox {
        text-align: center;
        .subtitle {
          text-decoration: none;
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
        .title {
          font-weight: bold;
        }
        .itemList {
          width: 780px;
          margin: 26px auto;
          display: flex;
          justify-content: space-around;
          .item {
            width: 220px;
            display: inline-block;
            a {
              text-decoration: none;
            }
            &__image {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              background-image: image-url("icon/icon-01.png");
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }
            .content {
              background-color: white;
              color: #333;
              padding: 16px;
              font-weight: normal;
              .title {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
                font-weight: normal;
              }
              .text {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
aside {
  background-image: image-url("pict/bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    h2 {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    p {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .aBtn {
        margin-right: 10px;
      }
    }
  }
}
.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .menus {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .menu {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      h2 {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  .logo {
    max-width: 160px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    vertical-align: bottom;
    background-image: image-url("logo/logo-white.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    p {
      margin-top: 50px;
      font-size: 14px;
    }
  }
}
.purchaseBtn {
  width: 90px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  span {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .img {
    height: 50px;
    background-image: image-url("icon/icon_camera.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.wrapperItems {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  background: #f5f5f5;
  height: auto;
  width: auto;
}
.bodyItems {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  width: max-content;
  .itemInfo  {
    width: 700px;
    padding: 24px 40px 40px;
    background: #fff;
    display: block;
    h1 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    .mainContent {
      margin: 16px 0 0;
      .imageContent {
        display: flex;
        position: relative;
        .image {
          display: flex;
          flex-direction: column;
          width: 560px;
          align-items: center;
          margin: 0 auto;
          .bigImage {
            object-fit: cover;
            height: 346px;
            width: 100%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266");
          }
          .smallImage {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            width: 75%;
            li {
              width: 25%;
              margin: 0 10px 0 0;
              object-fit: cover;
              height: 87px;
            }
            .image01 {
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266");
            }
            .image02 {
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266");
            }
            .image03 {
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              background-image: url("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266");
            }
          }
        }
      }
      .priceBox {
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .price {
          font-size: 46px;
          font-weight: bold;
          margin: 0 10px 0 0;
        }
        .tax {
          font-size: 16px;
        }
      }
      .buyBtn {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin: 16px 0 32px 0;
        background: #ea352d;
        color: #fff;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
      }
      .text {
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .detail {
        margin-bottom: 20px;
        .detailTable{
          width: 100%;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          .table {
            vertical-align: middle;
            border-color: inherit;
            ul {
              display: flex;
              vertical-align: inherit;
              border-color: inherit;
              .title {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
                padding: 15px 15px;
                p {
                  padding: 21px 10px;
                }

              }
              .info {
                width: 80%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
              }
              a {
                text-decoration: none;
                color: #3CCACE;
              }
              // li {
              //   position: relative;
              //   p {
              //     position: absolute;
              //   }
              // }
            }
          }
        }
      }
      .other {
        display: flex;
        justify-content: space-between;
        .left {
          margin: 10px 0 0;
          display: flex;
          .btn {
            margin-right: auto;
            padding: 6px 10px;
            border-radius: 40px;
            color: #3CCACE;
            border: 1px solid #ffb340;
            text-decoration: none;
          }
        }
        .right {
          margin: 10px 0 0;
          display: flex;
          .btn {
            font-size: 14px;
            text-decoration: none;
            padding: 8px 10px 6px 10px;
            display: inline-block;
            border-radius: 4px;
            color: #333;
            border: 1px solid #333;
            text-decoration: none;
          }
        }
      }
    }
  }

  .itemMessage {
    width: 732px;
    padding: 24px;
    background-color: #fff;
    margin: 10px 0;
    text-align: center;
    .messageBox {
      .messageContent {
        p {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0 30px 0;
          text-align: left;
        }
        .btn {
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          text-decoration: none;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-right: 130px;
          padding-left: 130px;
        }
      }
    }
  }
  .itemNavi {
    width: 780px;
    display: flex;
    justify-content: space-between;
    a {
      color: #3CCACE;
      text-decoration: none;
    }
    .prev {
      width: 45%;
      position: relative;
      word-wrap: break-word;
      i {
        font-weight: bold;
      }
    }
    .next {
      width: 45%;
      position: relative;
      word-wrap: break-word;
      text-align: right;
      i {
        font-weight: bold;
      }
    }
  }
  .categoryItems {
    .categoryBtn {
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      position: relative;
    }
  }
}